* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(222, 226, 255);
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    user-select: none;
    display: flex;
    padding: 2.5vh 5.5vh;   
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo_container {
    position: absolute;
    left: 5vh;
}

.logo {
    height: 35px;
}

.title {
    margin: 0;
    font-size: 26px ;
}

.content{
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 2vh;
}


.nt_content {   
    width: 89.5% ;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    border: none;
    box-shadow: 1px 2px 6px rgba(50, 50, 50, 0.2);
}

.nt_button {
    width: 9.4%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.status_content select {
    border: none;
    font-size: 0.9rem;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding-top: 1vh;
    padding-left: 1vh;
    padding-bottom: 1vh;
    font-weight: bold;
    color: rgb(30, 30, 30);
    font-size: 16px;
}

td {
    text-align: left;
    padding-top: 1vh;
    padding-left: 1vh;
    padding-bottom: 1vh;
    color: rgb(30, 30, 30);
    font-size: 16px;
}

th, td {
    border: none;
}

tr.td_content {
    background-color: white;
    box-shadow: 1px 2px 6px rgba(50, 50, 50, 0.2);
}
/*Table Header*/
table.tb_content .th_tasks{
    width: 60vh;
}

table.tb_content .th_date {
    width: 20vh;    
}

table.tb_content .th_status {
    width: 20vh;
}

table.tb_content .th_menu {
    width: 10vh;
}

/*Table Content*/
table.tb_content .task_content {
    width: 60vh;
}

table.tb_content .date_created {
    width: 20vh;
}

table.tb_content .status_content {
    width: 20vh;
}

table.tb_content .menu_content {
    width: 10vh;
}