{% extends 'base.html' %}

{% block head %}
<title>Task Manager</title>
{% endblock %}

{% block body %}
        <header>
            <div class = "logo_container">
            <img class="logo"
                src="{{ url_for('static', filename='img/' + imagename) }}"
                alt="Logo" />
            </div>
                <h1 class = "title">Task Manager</h1>    
          </header>
        <div class = "content">
        <table class = "tb_content">
            <tr>
                <th class = "th_tasks">Task</th>
                <th class = "th_date">Date Added</th>
                <th class = "th_status">Status</th>
                <th class = "th_menu">Menu</th>
            </tr>
            {% for tasks in tasks %}
            <tr class = "td_content">
                <td class = "task_content">{{ tasks.content }}</td>
                <td class = "date_created">{{ tasks.date_created.strftime("%B %d, %Y ") }}</td>
                <td class="status_content">
                    <form action="{{ url_for('update_status', task_id=tasks.id) }}" method="POST">
                        <select name="status" onchange="this.form.submit()">
                            <option value="Pending" {{ 'selected' if tasks.status == 'Pending' else '' }}>Pending</option>
                            <option value="Accomplished" {{ 'selected' if tasks.status == 'Accomplished' else '' }}>Accomplished</option>
                            <option value="Cancelled" {{ 'selected' if tasks.status == 'Cancelled' else '' }}>Cancelled</option>
                        </select>
                    </form>
                </td>
                <td class = "menu_content">
                    <a href="">Update</a>
                    <a href="">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
        <form action="/" method="POST">
            <input class = "nt_content" type="text" name="content" id="content" placeholder="Add New Task" required>
                <input class = "nt_button" type="submit" value="Add New Task">
        </form>
    </div>
{% endblock %}